body{
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin: 0 auto;
}
img.hero{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    max-width: 100%;
}

.annual-plan{
    margin: 10px auto;
    padding: .2em;
    background-color: hsl(225, 100%, 98%);
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container{
    background-color: #fff;
    max-width: 440px;
    margin: .2em;
    padding-bottom: 1.2em;
}

h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

/* buttons */
button{
    border: none;
    padding: .2em .5em;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.btn-Change{
    background-color: transparent;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.btn-primary{
    padding: .5em;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    margin-bottom: .5em;
}

.btn-secondary{
    background-color: transparent;
    color: hsl(224, 23%, 55%);
}

.attribution{
    font-size: 1em;
    color:  hsl(228, 45%, 44%); 
    margin-top: 1em;
}


@media (min-width:760px) {
    .container{
        width: 500px;
    }
}


